################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeAlgo/PracticeAlgo/.vs/PracticeAlgo/v14
